<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 problems.plist
 MathHelp
 
 Created by Dominic Surrao on 11/27/10.
 Copyright 2010 __MyCompanyName__. All rights reserved.
 -->
<plist version="1.0">
    <dict>
        <key>Problems</key>
        <array>
            <dict>
                <key>1</key>
                <array>
                    <integer>633</integer>
                    <integer>3</integer>
                </array>
            </dict>
            <dict>
                <key>2</key>
                <array>
                    <integer>444</integer>
                    <integer>4</integer>
                </array>
            </dict>
            <dict>
                <key>3</key>
                <array>
                    <integer>125</integer>
                    <integer>5</integer>
                </array>
            </dict>
            <dict>
                <key>4</key>
                <array>
                    <integer>224</integer>
                    <integer>7</integer>
                </array>
            </dict>
            <dict>
                <key>5</key>
                <array>
                    <integer>798</integer>
                    <integer>2</integer>
                </array>
            </dict>
            <dict>
                <key>6</key>
                <array>
                    <integer>235</integer>
                    <integer>5</integer>
                </array>
            </dict>
            <dict>
                <key>7</key>
                <array>
                    <integer>111</integer>
                    <integer>3</integer>
                </array>
            </dict>
            <dict>
                <key>8</key>
                <array>
                    <integer>640</integer>
                    <integer>8</integer>
                </array>
            </dict>
            <dict>
                <key>9</key>
                <array>
                    <integer>648</integer>
                    <integer>8</integer>
                </array>
            </dict>
            <dict>
                <key>10</key>
                <array>
                    <integer>656</integer>
                    <integer>8</integer>
                </array>
            </dict>
            <dict>
                <key>11</key>
                <array>
                    <integer>279</integer>
                    <integer>9</integer>
                </array>
            </dict>
            <dict>
                <key>12</key>
                <array>
                    <integer>288</integer>
                    <integer>9</integer>
                </array>
            </dict>
            <dict>
                <key>13</key>
                <array>
                    <integer>297</integer>
                    <integer>9</integer>
                </array>
            </dict>
            <dict>
                <key>14</key>
                <array>
                    <integer>150</integer>
                    <integer>5</integer>
                </array>
            </dict>
            <dict>
                <key>15</key>
                <array>
                    <integer>150</integer>
                    <integer>3</integer>
                </array>
            </dict>
            <dict>
                <key>16</key>
                <array>
                    <integer>150</integer>
                    <integer>6</integer>
                </array>
            </dict>
            <dict>
                <key>17</key>
                <array>
                    <integer>848</integer>
                    <integer>2</integer>
                </array>
            </dict>		
            <dict>
                <key>18</key>
                <array>
                    <integer>848</integer>
                    <integer>4</integer>
                </array>
            </dict>		
            <dict>
                <key>19</key>
                <array>
                    <integer>180</integer>
                    <integer>6</integer>
                </array>
            </dict>		
            <dict>
                <key>20</key>
                <array>
                    <integer>360</integer>
                    <integer>6</integer>
                </array>
            </dict>		
            <dict>
                <key>21</key>
                <array>
                    <integer>720</integer>
                    <integer>6</integer>
                </array>
            </dict>		
            <dict>
                <key>22</key>
                <array>
                    <integer>270</integer>
                    <integer>3</integer>
                </array>
            </dict>		
            <dict>
                <key>23</key>
                <array>
                    <integer>270</integer>
                    <integer>9</integer>
                </array>
            </dict>		
            <dict>
                <key>24</key>
                <array>
                    <integer>490</integer>
                    <integer>7</integer>
                </array>
            </dict>		
            <dict>
                <key>25</key>
                <array>
                    <integer>749</integer>
                    <integer>7</integer>
                </array>
            </dict>
            <dict>
                <key>26</key>
                <array>
                    <integer>350</integer>
                    <integer>7</integer>
                </array>
            </dict>
            <dict>
                <key>27</key>
                <array>
                    <integer>350</integer>
                    <integer>5</integer>
                </array>
            </dict>
            <dict>
                <key>28</key>
                <array>
                    <integer>350</integer>
                    <integer>2</integer>
                </array>
            </dict>
            <dict>
                <key>29</key>
                <array>
                    <integer>357</integer>
                    <integer>7</integer>
                </array>
            </dict>
            <dict>
                <key>30</key>
                <array>
                    <integer>364</integer>
                    <integer>7</integer>
                </array>
            </dict>
        </array>
    </dict>
</plist>